
    <ion-content>
        <div align="center" padding>
            <h1>Them</h1>

            <button ion-button (click)="TakeNumber1()"><ion-icon name="remove"></ion-icon></button>  {{Life1}} <button ion-button (click)="AddNumber1()"><ion-icon name="add"></ion-icon></button>
        </div>


        <img class="img" src="../../PW.jpg" />



        <div align="center" class="ion-padding">
            <h1>You</h1>

            <button ion-button size="large" (click)="TakeNumber2()"><ion-icon name="remove"></ion-icon></button>  {{Life2}} <button ion-button (click)="AddNumber2()"><ion-icon name="add"></ion-icon></button>
        </div>


        <div align="center" class="ion-padding">

            <button ion-button (click)="Reset()"> <ion-icon name="refresh"> </ion-icon></button>

        </div>
    </ion-content>

